{{nypr-brick-item item=items.[0] audio=audio}}
{{nypr-brick-item item=items.[1] audio=audio}}
<div class="brick-row__item">
  <img src="https://tpc.googlesyndication.com/simgad/13068096531477528309"/>
  Thanks to our sponsors
</div>
