{{nypr-brick-item items=items.[0]}}
{{nypr-brick-item items=items.[1]}}
<div class="brick_row__item">
  <img src="https://tpc.googlesyndication.com/simgad/13068096531477528309"/>
  Thanks to our sponsors
</div>
