<li class="list-item list-item--short list-item--dimmed">
  <div class="l-split l-split--padsides flush">
    <div class="text text--white flush--medium">
      <a href="/story/{{segment.slug}}" class="link--white">{{{segment.title}}}</a>
      {{#if segment.audioAvailable}}<span class="text--small text--gray">&nbsp;{{segment.audioDurationReadable}}</span>{{/if}}
    </div>
      <div class="l-split flush">
        {{yield (hash
          buttons=(component 'nypr-story/segment/buttons')
          message=(component 'nypr-story/segment/message')
        )}}
      </div>
  </div>
  <!-- .l-split -->
</li>
