article section.transcript blockquote {
  border-left: 4px solid #f1f1f1;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 700;
}

/* style overrides for nypr tabs */
.article-tabs.nypr-tabs {
  .tablist-buffer {
    border-bottom: none;
  }
  .nypr-tabs-tablist {
    margin-bottom: 1.5rem;
  }

  a.ivy-tabs-tab {
    @include flex(0 1 100px);
    @include fontsize(14);
    @include justify-content(flex-start);

    font-weight: bold;
    border: none;
    background-color: white;
  }

  .ivy-tabs-tabpanel {
    display:none;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    &.active {
      display:block;
      opacity: 1;
    }
  }
}