article {
  footer, section.text {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }

  .nypr-tabs section.text {
    max-width: 100%;
  }

  .nypr-story-byline {
    footer.text {
      color: $lightgray;
    }
    .byline-producing-orgs {
      @include flexbox((
        display: flex,
        justify-content: flex-start));
      span.separator {
        white-space: pre;
      }
    }
  }

  section.text {
    font-size: 18px;
    line-height: 1.875rem;
  }

  section.transcript blockquote {
    border-left: 4px solid #f1f1f1;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 700;
  }

  .nypr-story-audio-options .panel textarea {
    white-space: normal;
  }

  /*slideshows are broken */
  .slideshow {
    display: none;
  }
}

/* style overrides for nypr tabs */
.article-tabs.nypr-tabs {
  .tablist-buffer {
    border-bottom: none;
  }
  .nypr-tabs-tablist {
    margin-bottom: 1.5rem;
  }

  a.ivy-tabs-tab {
    @include flex(0 1 auto);
    @include fontsize(14);
    @include justify-content(flex-start);

    font-weight: bold;
    border: none;
    border-bottom: 4px solid white;
    background-color: white;
    margin-right: 24px;
    height: auto;
    padding-bottom: 5px;

    &.active {
      border-bottom: 4px solid #d3008c;
    }
  }

  .ivy-tabs-tabpanel {
    display:none;
    // opacity: 0;
    // transition: opacity 250ms ease-in-out;
    &.active {
      display:block;
      //opacity: 1;
    }
  }
}