$brand-stripe-background: #333333;
$brand-stripe-button-color: white;

// Burger Menu Overrides
$bm-transition-duration: 0.3s;
$nypr-brand-header-overlay-bg: rgba(0, 0, 0, 0.7);

@import '../ember-burger-menu';

.nypr-brand-header-overlay-bg {
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  z-index: 500;
  transition: opacity 0.3s ease-in-out;
  background-color: #000;
}

.nypr-brand-header__logo-list {
  align-items: center;
  display: none;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 870px;

  @include mq($medium-and-up) {
    display: flex;
  }
}

.nypr-brand-header__logo-list svg {
  display: flex;
  fill: white;
}

.nypr-brand-header__logo-list a {
  text-decoration: none;
  border: none;

  &:hover {
    text-decoration: none;
    border: none;
    opacity: 0.7;
  }
}

.nypr-brand-header__nypr-logo {
  width: 85px;
  height: 36px;
}

.nypr-brand-header__logo-wnyc-logo {
  width: 64px;
  height: 27px;
}

.nypr-brand-header__logo-wnyc-logo {
  width: 64px;
  height: 27px;
}

.nypr-brand-header__logo-gothamist-logo {
  width: 40px;
  height: 40px;
}

.nypr-brand-header__logo-wnyc-studios-logo {
  width: 55px;
  height: 30px;
}

.nypr-brand-header__logo-njpr-logo {
  width: 77px;
  height: 30px;
}

.nypr-brand-header__logo-wqxr-logo {
  width: 85px;
  height: 20px;
}

.nypr-brand-header__logo-new-sounds-logo {
  width: 119px;
  height: 15px;
}

.nypr-brand-header__logo-greene-space-logo {
  width: 44px;
  height: 35px;

  .bump {
    fill: white !important;
  }
}

.nypr-brand-header__square-bracket-open,
.nypr-brand-header__square-bracket-close {
  opacity: 0.5;
  height: 40px;
}

.nypr-brand-header-overlay-bg.active {
  opacity: 0.3;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
}

.nypr-brand-header-menu .bm-menu-container .bm-menu,
.nypr-brand-header-menu .bm-outlet > .bm-menu-container .bm-menu {
  position: fixed;
  z-index: 1110;
  background-color: $brand-stripe-background;
  text-align: right;
  padding: 0 10px;
}

.nypr-brand-header-menu,
.nypr-brand-header-menu .bm-outlet > .bm-content {
  position: static;
  overflow: visible;
}

.nypr-brand-header {
  background-color: $brand-stripe-background;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: space-between;
  width: 100%;
  margin-bottom: 0;

  @include mq($medium-and-up) {
    justify-content: space-between;
    height: 62px;
  }
}

.nypr-brand-header-button {
  padding: 9px 15px;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  color: $brand-stripe-button-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  width: auto;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.nypr-brand-header-caret {
  transform: rotate(180deg);
  width: auto;
  path {
    fill: $brand-stripe-button-color;
  }
  height: 14px;
  top: 1px;
  position: relative;
  margin-left: 6px;
}

.nypr-brand-header-button.mod-donate {
  background-color: $brand-stripe-button-color;
  color: #fff;
}

.nypr-brand-header-button.mod-network {
  // pointer-events: none;

  @include mq($medium-and-up) {
    display: none;
  }
}

.nypr-brand-header-close {
  align-items: center;
  border-bottom: 0;
  font-weight: normal;
  height: auto;
  justify-content: flex-end;
  transition: none;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    border-bottom: 0;
    opacity: 0.8;
  }
}

.nypr-brand-header-close-icon {
  width: auto;
  height: 12px;
  margin-top: 2px;
  margin-left: 5px;
  top: 1px;
  position: relative;
  margin-left: 6px;
  path {
    fill: $brand-stripe-button-color;
  }
}

.nypr-brand-header-menu-items {
  border-top: 1px solid #ccc;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-direction: column;
  padding: 10px 10px;
  max-height: 480px;
  height: 85vh;
  display: flex;
  justify-content: space-between;
}

.nypr-brand-header-menu-items svg {
  fill: white;
}

.nypr-brand-header-menu-items li {
  padding: 8px 0;
  line-height: 15px;
  margin: 0;
}

.nypr-brand-header-menu-items a {
  display: block;
  padding: 5px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: $brand-stripe-button-color;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 0;

  &:hover {
    text-decoration: underline;
    border-bottom: 0;
    opacity: 0.8;
  }
}
