@import "compass/css3/transition";
@import "compass/css3/appearance";

@mixin btn {
  position: relative; // for transition icons
  display: inline-block;
  border-radius: 25px;
  border: 2px solid;
  border-color: rgba($lightgray, 0.2);

  padding: 0px 13px;
  color: $lightgray;
  background: transparent;
  font-size: 14px;
  line-height: 34px;

  cursor: pointer;

  @include transition(
  opacity $transition-timing,
  background-color $transition-timing,
  border-color $transition-timing,
  color $transition-timing);

  &:hover,
  &:focus {
    border-color: rgba($darkgray, 0.2);
    color: $gray;
    opacity: 1;
  }

  &[disabled] {
    opacity: 0.15;
    cursor: not-allowed;
  }
}

/**
* Blank Button:
* `.btn--blank`
* An empty button. Useful for icons or interactive buttons
* to be style other ways
*
*      @example
*      button.btn.btn--blank I'm a button but I look like nothing special
*/
@mixin blank-button {
  @include btn;

  padding: 0;
  border: 0;
  border-radius: 0;
  color: #333;
  // IE doesn't support initial
  color: initial;
  text-align: left;
  background-color: transparent;

  &:not([disabled]) {
    &:hover,
    &:focus {
      background: none;
      border: none;
      color: inherit;
    }
  }
}
