@import "compass/css3/transition";
@import "compass/css3/appearance";

@mixin btn {
  position: relative; // for transition icons
  display: inline-block;
  border-radius: 25px;
  border: 2px solid;
  border-color: rgba($lightgray, 0.2);

  padding: 0px 13px;
  color: $lightgray;
  background: transparent;
  font-size: 14px;
  line-height: 34px;

  cursor: pointer;

  @include transition(
    opacity $transition-timing,
    background-color $transition-timing,
    border-color $transition-timing,
    color $transition-timing);

  &:hover,
  &:active {
    border-color: rgba($darkgray, 0.2);
    color: $gray;
    opacity: 1;
  }

  &[disabled] {
    opacity: 0.15;
    cursor: not-allowed;
  }
  
  .touchevents &:hover {
    border-color: initial;
    color: initial;
  }
}

/**
* Blank Button:
* `.btn--blank`
* An empty button. Useful for icons or interactive buttons
* to be style other ways
*
*      @example
*      button.btn.btn--blank I'm a button but I look like nothing special
*/
@mixin blank-button {
  @include appearance(none);
  font-family: inherit;
  @include fontsize(14);
  cursor: pointer;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: #333;
  // IE doesn't support initial
  color: initial;
  text-align: left;
  background-color: transparent;
  
  @include transition(
    opacity $transition-timing,
    background-color $transition-timing,
    border-color $transition-timing,
    color $transition-timing);


  &:not([disabled]) {
    &:hover,
    &:active {
      background: none;
      border: none;
      color: inherit;
    }
  }

  &[disabled] {
    opacity: 0.15;
    cursor: not-allowed;
  }
  
  .touchevents &:hover {
    border-color: initial;
    color: initial;
  }
}

/**
 * Fat Button:
 * `.btn--fat`
 * When that small circle button is an important call to action.
 *
 *      @example
 *      button.btn.btn--circle.btn--fat
 *          i.fa.fa-twitter
 */
@mixin btn--fat {
  width: 40px;
  height: 40px;

  .fa {
    font-size: 18px;
  }
}

/**
 * Blue Button:
 * `.btn--blue`
 *
 *      @example
 *      button.btn.btn--blue Click
 */
@mixin btn--blue {
  background-color: $blue;
  border-color: $blue;
  color: white;

  &:not([disabled]) {
    &:hover,
    &:active {
      outline: none;
      background-color: $darkblue;
      border-color: $darkblue;
      color: white;
      opacity: 1;
    }
  }
}

/**
 * Large Button:
 * `.btn--large`
 * It's a little bigger than your standard button.
 *
 *      @example
 *      button.btn.btn--large Click Me, I'm Bigger!
 */
@mixin btn--large {
  padding: 3px 18px;
  line-height: 36px;
  @include fontsize(16);
}
