.nypr-card {
  background-color: white;
  padding: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  
  margin: 0 auto 22px;;
}

.nypr-card-title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #888888;
  text-transform: uppercase;
}
.nypr-card-header {
  border-bottom: solid 2px rgba(0, 0, 0, 0.05);
  padding-bottom: 7px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.nypr-card-edit-btn {
  @include blank-button;

  color: $blue;

  .touchevents &:hover {
    color: $blue;
  }
}

.nypr-card-alert {
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background: $lightgreen;
  color: white;
  a {
    color: white;
    &:hover,
    &:focus {
      border-bottom-color: white;
    }
  }
}
