.nypr-card {
  background-color: white;
  padding: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  
  margin: 0 auto 22px;;
}

.nypr-card-title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #888888;
  text-transform: uppercase;
}
.nypr-card-header {
  border-bottom: solid 2px rgba(0, 0, 0, 0.05);
  padding-bottom: 7px;
  margin-bottom: 15px;
  @include flexbox((
    display: flex,
    justify-content: space-between
  ));
}

.nypr-card-edit-btn {
  @include blank-button;
  
  color: $blue;
  
  .touchevents &:hover {
    color: $blue;
  }
}
