// WNYC
$red: #DE1E3D;
$blue: #128cf4;
$darkblue: #1068b2;
$grass: #45de9b;

// Blacks & grays
$darkergray: #333;
$darkgray: #444;
$gray: #666;
$lightgray: #888;
$lightestgray: #ddd;
$nearwhite: #f1f1f1;
