@import "colors";

// used to position lockup
$padding-right: 30px;
$padding-bottom: 75px;

.nypr-ui__hero-body {
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  
  position: relative;
  height: 80vh;
  padding: 0 $padding-right $padding-bottom 50px;
}

.nypr-ui__hero.is-sticky .nypr-ui__hero-body {
  position: fixed;
  bottom: calc(100% - 50px);
  left: 0;
  right: 0;
}
  
.sticky-reference {
  display: block;
}

.nypr-ui__hero .hero-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  height: 60px;
  
  position: sticky;
  top: 0;
}

.nypr-ui__hero .hero-top__left,
.nypr-ui__hero .hero-top__right {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.nypr-ui__hero .hero-logo {
  width: 80px;
  margin-left: 8px;
  
  path {
    fill: white;
  }
}

.nypr-ui__hero .hero-headline {
  margin-top: auto;
  margin-bottom: 50px;
  font-size: 90px;
  line-height: 95px;
  max-width: 850px;
}

.nypr-ui__hero .hero-blurb {
  font-size: 28px;
  line-height: 38px;
  max-width: 850px;
}

.nypr-ui__hero .hero-lockup {
  position: absolute;
  right: $padding-right;
  bottom: $padding-bottom;
}

.nypr-ui__hero .hero-source {
  position: absolute;
  bottom: -25px;
  right: 15px;
  font-size: 12px;
  color: $lightgray;
}
