@import "colors";
@import "z-index";

// used to position gradient
$padding-h-medium: 65px;
$padding-v-medium: 55px;
$padding-h-small:  20px;
$padding-v-small:  20px;

@mixin with-gradient($gradient) {
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: $zIndex--heroGradient;
  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(#{$gradient});
  }
}

.nypr-ui__hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: white;
  
  min-height: 90vh;
  position: relative;
  
  z-index: $zIndex--fixedNav;
  
  @include mq($medium-and-up) {
    padding: 0 $padding-h-medium $padding-v-medium $padding-h-medium;
    min-height: 80vh;
  }
  
  &.with-gradient {
    @include with-gradient("to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)");
    background-color: black;
    
    @include mq($medium-and-up) {
      background-color: transparent;
    }
  }
  
  &.with-gradient {
    > .hero-headline,
    > .hero-blurb,
    > .hero-footer {
      position: relative;
      z-index: $zIndex--overGradient;
    }
  }
}

.nypr-ui__hero .hero-image {
  @include with-gradient("to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.9)");
  position: sticky;
  top: -150px;
  
  > img {
    max-width: 100%;
    display: block;
    z-index: $zIndex--underGradient;
  }
}

.nypr-ui__hero .hero-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  height: 60px;
  padding: 0 $padding-h-small 15px;
  
  position: sticky;
  top: -1px; // fix a 1px gap
  z-index: $zIndex--fixedNav;
  
  @include with-gradient("to bottom, black, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0)");
  
  @include mq($medium-and-up) {
    height: 85px;
    background-color: transparent;
    padding: 0 0 25px;
    
    &:before {
      left: -$padding-h-medium;
      right: -$padding-h-medium;
    }
  }
}

.nypr-ui__hero .hero-top__left,
.nypr-ui__hero .hero-top__right {
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.nypr-ui__hero .hero-headline {
  font-size: 40px;
  line-height: 1.2;
  margin: auto $padding-h-small 15px $padding-h-small;
  opacity: 1;
  
  transition: opacity 125ms ease;
    
  @include mq($medium-and-up) {
    font-size: 90px;
    max-width: 850px;
    margin: auto 0 50px;
  }
}

.nypr-ui__hero .hero-blurb {
  font-size: 18px;
  line-height: 1.4;
  opacity: 1;
  margin: 0 $padding-h-small 25px;
  
  transition: opacity 125ms ease;
  
  @include mq($medium-and-up) {
    font-size: 28px;
    line-height: 38px;
    max-width: 850px;
    margin: 0 0 25px 0;
  }
}

.nypr-ui__hero .hero-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 $padding-h-small 20px;
  
  @include mq($medium-and-up) {
    margin: 0;
  }
}

.nypr-ui__hero .hero-lockup {
  margin-left: auto;
}

.nypr-ui__hero .hero-source {
  position: absolute;
  bottom: -25px;
  right: 15px;
  font-size: 12px;
  color: $lightgray;
}

//
// STICKY HEADER STYLES
//

.nypr-ui__hero.stuck {
  position: fixed;
  top: 0;
  height: auto;
  min-height: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
  
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 15px;
  
  background-position: bottom;
  
  @include mq($medium-and-up) {
    padding: 0 30px;
    flex-wrap: nowrap;
    background-position: center calc(100% +  200px);
  }
}

.stuck > .hero-top {
  position: static;
  height: auto;
  padding: 0;
  flex-shrink: 0;
  
  &:before {
    content: none;
  }

  .hero-top__right {
    display: none;
  }
}

.stuck > .hero-image {
  position: absolute;
  top: auto !important;
  bottom: 0;
  left: 0;
  right: 0;
}

.nypr-ui__hero.stuck > .hero-headline {
  font-size: 16px;
  flex: 1 1 100%;
  max-width: none;
  order: 1;
  margin: 0;
  line-height: 1.2;
  opacity: 1;
  
  @include mq($medium-and-up) {
    order: 0;
    flex-basis: auto;
    font-size: 22px;
    margin: 0 45px;
  }
}

.stuck > .hero-blurb {
  display: none;
}

.stuck > .hero-footer {
  flex-shrink: 0;
  margin: 0 0 10px 0;
}

.stuck > .hero-footer > :not(.hero-lockup) {
  display: none;
}

.stuck > .hero-source {
  display: none;
}
