.nypr-mini-chrome .django-content .l-constrained {
  padding: 0;
}

.nypr-mini-chrome-top {
  padding: 15px 25px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tune-in {
    color: white;
    text-align: right;

    @media (max-width: 400px) {
      font-size: 12px;
      font-weight: 700;
      margin-left: 10px;
    }
  }

  @media (max-width: 400px) {
    * {
      margin: 3px 0;
    }
  }

  .logo {
    display: flex;

    svg {
      width: 77px;
      height: 30px;

      path {
        fill: white;
      }
    }
  }
}
