.nypr-mini-chrome-top {
  padding: 15px 25px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 800px) {
    margin-bottom: -10px;
  }

  @media (max-width: 400px) {
    flex-direction: column;

    * {
      margin: 3px 0;
    }    
  }

  .logo {
    display: flex;

    svg {
      width: 77px;
      height: 30px;

      path {
        fill: white;
      }
    }
  }
}
