@import 'mixins/lists';

.nypr-social-icons {
  padding: 0 18px 26px 24px;
  text-align: right;
}

.nypr-social-icons__header {
  margin: 0;
  padding: 0 0 11px 0;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.nypr-social-icons__list {
  @include list-base;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.nypr-social-icons__link {
  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom-color: transparent;
    color: rgba(white, 0.05);
  }
}

.nypr-social-icons__icon {
  pointer-events: none;
}
