article figure {
  margin-bottom: 30px;
}

article > footer {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;

  &.text {
    color: $lightgray;
  }
}

article > section {
  a {
    border-bottom: .08em solid rgba(black, .1);
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3, h4 {
    margin-bottom: 0;
  }

  &.text {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }

  &.text {
    font-size: 18px;
    line-height: 1.875rem;

    @include mq($mobile) {
      font-size: 16px;
      line-height: 1.7rem;
    }
  }

  blockquote {
    border-left: 4px solid $nearwhite;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: bold;
  }

  .storify, p > iframe, .embedded-image {
    margin: 30px 0;
  }
}

.story--interactive {
  article > footer,
  article > section.text {
    max-width: 100%;
  }
}

.nypr-story-show-sidebar-top {
  .text .nudge-big p {
    margin-bottom: 0;
  }
}
