.wqxr-streambanner-title {
  @include fontsize(18);
  font-weight: 600;
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
  line-height: 24px;
  margin-bottom: 7px;
  position: relative;

  @include mq($desktop) {
    @include fontsize(24);
    line-height: 2rem;
    @include flexbox((
      flex-direction: row,
      align-items: baseline
    ));

    a {
      margin-left: 10px;
    }
  }
}

.wqxr-streambanner-station {
  @include fontsize(18);
  font-weight: 600;
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
}

.wqxr-streambanner-on-air {
  @include fontsize(12);
  text-transform: uppercase;

  @include mq($desktop) {
    @include fontsize(14);
  }
}

.wqxr-streambanner-details {
  @include fontsize(14);
  line-height: 24px;
  text-align: center;
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
  margin-bottom: 5px;
  position: relative;
}

.wqxr-streambanner-card {
  margin-bottom: 35px;
  padding: 25px 10px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(black, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  border-top: 8px solid $wqxrblue;
  @include filter-container;

  &:before {
    @include classic-filter($filter--light);
  }

  @include mq($small-only) {
    display: none;
  }

  > div {
    position: relative;
  }
}

.wqxr-streambanner-select {
  background: transparent;
  margin-left: 10px;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  text-transform: uppercase;
}

.wqxr-streambanner-station {
  @include flexbox((
    flex-direction: row,
    justify-content: center
  ));
  @include fontsize(14);
  text-transform: uppercase;
}

.streambanner-controls {
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
}

.wqxr-streambanner-station > .ember-basic-dropdown > .ember-power-select-trigger {
  color: white;
  background: transparent;
  height: auto;
  min-width: 160px;
  text-align: left;
  margin-left: 10px;
  cursor: pointer;
}

.wqxr-streambanner-station .ember-power-select-selected-item {
  position: static;
  margin: 0 ;
}

.wqxr-streambanner-station .ember-power-select-status-icon {
  right: 0;
}

.wqxr-streambanner-dropdown {
  @include fontsize(14);
  background-color: white;
}
