.stream-banner-station {
  @include fontsize(14);
  @include flexbox((
    display: flex,
    align-items: center,
    justify-content: center
  ));

  @include mq($mobile) {
    border-bottom: 1px solid rgba(256, 256, 256, .2);
    padding-bottom: 13px;
    margin-bottom: 10px;
  }
}

.stream-banner-details {
  margin-bottom: 18px;
  @include flexbox((
    display: flex,
    flex-direction: column
  ));

  .h2,
  .h3 {
    margin-bottom: 0
  }
}

.stream-banner-card {
  margin-bottom: 35px;
  padding: 15px 10px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  border-top: 6px solid $wqxrblue;
  @include filter-container;
  min-height: 190px;

  @include mq($mobile) {
    margin: -24px 0 0 0;
    border: 0;
  }

  &:before {
    @include classic-filter($filter--wqxrdark);
  }

  > div {
    position: relative;
  }
}

.stream-banner-select {
  background: transparent;
  margin-left: 15px;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  text-transform: uppercase;
}

.stream-banner-controls {
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
}

.stream-banner-station > .ember-basic-dropdown > .ember-power-select-trigger {
  @include flexbox((
    display: flex,
    align-items: center
  ));
  background: transparent;
  height: auto;
  text-align: left;
  padding-right: 15px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  min-width: auto;
}

.stream-banner-station > .ember-basic-dropdown {
  flex-grow: 0;
}

.stream-banner-station .ember-power-select-selected-item {
  position: static;
  margin: 0 ;
}

.stream-banner .stream-banner-dropdown {
  @include fontsize(16);
  font-weight: normal;
  background-color: white;
  color: $darkergray;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  width: 235px;
}

.stream-banner-recently {
  @include fontsize(12);
  @include flexbox((
    display: inline-flex,
    align-items: center
  ));
  font-weight: 600;

  svg {
    margin-left: 3px;
  }
}

.stream-banner-dropdown .ember-power-select-option {
  padding: 8px 17px;
  border-bottom: 1px solid $lightestgray;

  &:last-child {
    border: 0;
  }
}

.stream-banner-dropdown .ember-power-select-option[aria-selected=true] {
  background-color: $nearwhite;
  color: $lightgray;
}

.stream-banner-dropdown .ember-power-select-option[aria-current=true] {
  background-color: $wqxrblue;
  color: white;
}

.stream-banner-dropdown .ember-power-select-options {
  max-height: none;
  text-align: left;
}

.stream-banner__trigger {
  @include fontsize(12);
  color: $wqxrblue;
  font-weight: 600;
  position: relative;
  @include flexbox((
    display: flex,
    align-items: baseline
  ));

  .icon {
    margin-left: 5px;
    path {
      fill: $wqxrblue;
    }
  }
}

.stream-banner__active-stream {
  font-family: 'Lato';
  font-weight: bold;
  margin-right: 10px;
}
