.stream-banner-title {
  @include fontsize(24);
  font-weight: bold;
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
  line-height: 24px;
  margin-bottom: 7px;
  position: relative;

  @include mq($desktop) {
    line-height: 2rem;
    @include flexbox((
      flex-direction: row,
      align-items: baseline
    ));

    a {
      margin-left: 10px;
    }
  }
}

.stream-banner-station {
  @include fontsize(18);
  font-weight: bold;
  @include flexbox((
    display: flex,
    align-items: center,
    justify-content: center
  ));
}

.stream-banner-on-air {
  @include fontsize(12);
  text-transform: uppercase;
}

.stream-banner-details {
  line-height: 24px;
  text-align: center;
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
  margin-bottom: 5px;
  position: relative;
}

.stream-banner-card {
  margin-bottom: 35px;
  padding: 25px 10px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(black, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  border-top: 8px solid $wqxrblue;
  @include filter-container;

  &:before {
    @include classic-filter($filter--light);
  }

  > div {
    position: relative;
  }
}

.stream-banner-select {
  background: transparent;
  margin-left: 10px;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  text-transform: uppercase;
}

.stream-banner-controls {
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
}

.stream-banner-station > .ember-basic-dropdown > .ember-power-select-trigger {
  @include flexbox((
    display: flex,
    align-items: center
  ));
  color: white;
  background: transparent;
  height: auto;
  text-align: left;
  padding-right: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  min-width: auto;
}

.stream-banner-station .ember-power-select-selected-item {
  position: static;
  margin: 0 ;
}

.stream-banner-station .ember-power-select-status-icon {
  right: 0;
}

.stream-banner .stream-banner-dropdown {
  @include fontsize(16);
  font-weight: normal;
  background-color: white;
  color: black;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 235px;
}

.stream-banner-dropdown .ember-power-select-option {
  padding: 8px 17px;
  border-bottom: 1px solid $lightestgray;
}

.stream-banner-dropdown .ember-power-select-option[aria-current=true] {
  background-color: $graywhite;
  color: black;
}

.stream-banner-dropdown .ember-power-select-options {
  max-height: none;
  text-align: left;
}

.stream-banner__trigger {
  border-bottom: 1px solid white;
  position: relative;
  @include fontsize(12);
  text-transform: uppercase;
  font-weight: bold;
}

.stream-banner__trigger > .ember-power-select-status-icon {
  right: -15px;
}

.stream-banner__active-stream {
  margin-right: 10px;
}
