.nypr-tabs {
  .ivy-tabs-tablist {
    display: flex;
    flex-direction: row;

    & a:not(:first-child) {
      margin-left: -1px;
    }

    .tablist-buffer {
      flex: 1 1;

      border-bottom: 1px solid #f1f1f1;
    }
  }

  a.ivy-tabs-tab {
    @include fontsize(12);
    align-items: center;
    display: flex;
    flex: 0 1 150px;
    justify-content: center;

    box-sizing: border-box;
    border: 1px solid $nearwhite;
    border-bottom: 0;
    background-color: $graywhite;
    color: $darkergray;
    font-family: $base-font-stack;
    height: 43px;
    text-decoration: none;

    &.active {
      background-color: white;
    }
  }

  .ivy-tabs-tabpanel {
    display: none;

    &.active {
      display: initial;
    }
  }
}
