<a href={{logo.url}} class="gtm__click-tracking" data-action="Brand Header" data-label={{logo.svg}} target="_blank" aria-label="Visit {{logo.name}} (Opens in new window)">
  {{nypr-svg icon=logo.svg className=(concat 'logo-link__logo-' logo.svg)}}
</a>
