<div class="nypr-mini-chrome-top">
    <a href="/" class="link--nodecor logo">{{nypr-svg icon='wnyc-logo' className='wnyc-logo'}}</a>
    <div class="tune-in">Tune in Monday−Thursday at 8 p.m. ET</div>
</div>

{{yield}}
