<h3 class="nypr-social-icons__header">{{title}}</h3>
{{yield}}
<ul class="nypr-social-icons__list">
  {{#each items as |item|}}
  <li class="nypr-social-icons__item">
    <a class="nypr-social-icons__link"
       href="{{item.url}}"
       target="_blank">
      <i class="nypr-social-icons__icon fa fa-{{item.icon}}"></i>
    </a>
  </li>
  {{/each}}
</ul>
