{{nypr-brick-item item=items.[0] audio=audio template='vertical'}}
{{nypr-brick-item item=items.[1] audio=audio template='vertical'}}
<div class="brick__item brick__item--sponsored">
  <img src="https://tpc.googlesyndication.com/simgad/13068096531477528309"/>
</div>
