<div class="nypr-mini-chrome__top">
    <a href="/" class="link--nodecor nypr-mini-chrome__left">{{nypr-svg icon='wnyc-logo' className='wnyc-logo'}}</a>
    <div class="nypr-mini-chrome__right">{{{promo}}}</div>
</div>

{{yield}}
