<div class="nypr-mini-chrome-top">
    <a href="/" class="link--nodecor nypr-mini-chrome-left">{{nypr-svg icon='wnyc-logo' className='wnyc-logo'}}</a>
    <div class="nypr-mini-chrome-right">{{{promo}}}</div>
</div>

{{yield}}
