<div class="streambanner-card"
    style="background-image:url('https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')">
  <div>
    <div class="streambanner-station nudge">
      <span class="streambanner-on-air">On air now on </span>
      {{#power-select
        searchEnabled=false
        dropdownClass="streambanner-dropdown"
        selected=activeStream
        options=streams
        onchange=(action (mut activeStream))
        as |stream|}}
        {{stream.name}}
      {{/power-select}}
    </div>
    <div class="streambanner-details">
      <h3 class="streambanner-title">
        {{yield activeStream}}
      </h3>
    </div>
    <div class="streambanner-controls">
      {{#listen-button
        audio=audio
        class='streambanner-listenbutton nudge'
        type='blue-boss'
        state=(if (eq activeStream.slug audio.currentAudio.id) audio.playState)
        itemPK=activeStream.slug
        itemTitle=activeStream.name}}
        Listen Live
      {{/listen-button}}
    </div>
  </div>
</div>
