<div class="stream-banner-card"
     style="background-image:url('/assets/img/backgrounds/streambanner.jpg')">
  <div>
    {{#if streams.isFulfilled}}
    <div class="stream-banner-station nudge">
      <span class="stream-banner-on-air">On air now on </span>
      {{#power-select
        renderInPlace=true
        searchEnabled=false
        dropdownClass="stream-banner-dropdown"
        selected=activeStream
        options=streams
        onchange=(action (mut activeStream))
        as |stream|}}
        {{stream.name}}
      {{/power-select}}
    </div>
    <div class="stream-banner-details">
      <h3 class="stream-banner-title">
        {{yield activeStream}}
      </h3>
    </div>
    <div class="stream-banner-controls">
      {{#listen-button
        audio=audio
        class='stream-banner-listenbutton nudge'
        type='blue-boss'
        state=(if (eq activeStream.slug audio.currentAudio.id) audio.playState)
        itemPK=activeStream.slug
        itemTitle=activeStream.name}}
        Listen Live
      {{/listen-button}}
    </div>
    {{else}}
    Loading...
    {{/if}}
  </div>
</div>
