<div class="stream-banner-card"
     style="background-image:url('/assets/img/backgrounds/streambanner.jpg')">
  <div>
    {{#if streams.isFulfilled}}
      {{yield activeStream (hash
        header=(component 'stream-banner/station' activeStream=activeStream streams=streams)
        details=(component 'stream-banner/details' activeStream=activeStream)
        controls=(component 'stream-banner/controls' audio=audio activeStream=activeStream)
      )}}
    {{else}}
    Loading...
    {{/if}}
  </div>
</div>
