<div class="site-chrome__links-wrapper">
  <ul class="site-chrome__links-list {{unless media.isLargeAndUp 'list--inline list--spaced text--small' 'alignright'}}">
    
    {{yield (hash
      link=(component 'site-chrome/nav/link')
    )}}

  </ul>
</div>
