@import "../vars";

@mixin list-base {
  list-style: none;
  padding: 0;
}

@mixin list--noborder {
  > .list-heading {
    @include vertical-rhythm;
  }

  > .list-item {
    border: none;

    &:last-child {
        border: none;
        margin-bottom: 0;
    }
  }
}
