@mixin link--dark {
  color: $darkergray;
  border: none;

  &:hover,
  &:focus {
      color: $wqxrlink;
  }
}

@mixin text--small {
  @include fontsize(12);
  line-height: 1.125rem;
}

@mixin text--default {
  @include fontsize(16);

  @include mq($mobile) {
    @include fontsize(14);
  }
}

@mixin text--largest {
  @include fontsize(50);
  line-height: 3.5rem;
}

@mixin h2 {
  font-family: Lato, sans-serif;
  @include fontsize($base-font*1.5); /* 24px */
  font-weight: 600;
  line-height: 2.125rem;

  @include mq($small-only) {
    @include fontsize($base-font*1.25); /* 20px */
    line-height: 1.5;
  }
}

@mixin h3 {
  font-family: Lato, sans-serif;
  @include fontsize($base-font*1.25); /* 20px */
  font-weight: 600;

  @include mq($small-only) {
      @include fontsize($base-font*1.125); /* 18px */
      line-height: 1.5rem;
  }
}

@mixin hero-emphasis {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: oblique;
}

@mixin pull-quote {
  quotes: "“" "”" "‘" "’";
  
  margin: 0;
  padding: 0;
  border: 0;
  
  position: relative;
  
  font-family: 'Montserrat', sans-serif;
  font-style: oblique;
  font-size: 20px;
  line-height: 27px;
  
  border-top: 5px solid $brightred;
  border-right: 5px solid transparent;
    
  padding-top: 12px;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 96px;
  min-height: 90px;
  
  &:before {
    content: open-quote;
    color: $brightred;
    font-family: 'Montserrat', sans-serif;
    font-size: 160px;
    font-style: normal;
    line-height: 135px;
    position: absolute;
    left: -100px;
    top: -10px;
  }
  
  &:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $brightred;
    
    position: absolute;
    bottom: 0;
    top: -10px;
    left: -5px;
  }
  
  > * {
    margin-left: -6px;
    margin-right: -5px;
  }
  
  > p:last-child {
    margin-bottom: 0;
  }
  
  @include mq($medium-and-up) {
    font-size: 35px;
    line-height: 43px;
    margin-left: 170px;
    min-height: 110px;
    
    &:before {
      font-size: 285px;
      line-height: 235px;
      left: -179px;
      top: -12px;
    }
  }
}
