@mixin visually-hidden {
  position: absolute !important;
  border: 0;
  padding: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}